body {
    background-color: blanchedalmond;
    min-width: 300px;
}

.form, .greeting, .grace {
    display: none;
}

.showing {
    display: block;
}

.dogIconDiv {
    width: 30%;
    float: left;
}

.greetingDiv {
    width: 60%;
    float: left;
}

.clearfix {
    clear: both;
}
