body {
    background-color: blanchedalmond;
    min-width: 350px;
    font-family: 'Underdog', cursive;
}

.form, .greeting, .grace {
    display: none;
}

.showing {
    display: block;
}

.center {
    text-align: center;
}

.dogIconDiv {
}

.greetingDiv {
    margin-bottom: 20px;
}

.inlineblock {
    display: inline-block;
}

.deleteBtn {
    border: none;
    background: none;
    cursor: pointer;
}

.changeBtn {
    cursor: pointer;
}