body {
    background-color: blanchedalmond;
    min-width: 300px;
}

.form, .greeting, .grace {
    display: none;
}

.showing {
    display: block;
}

.center {
    text-align: center;
}

.dogIconDiv {
}

.greetingDiv {
    margin-bottom: 20px;
}

.inlineblock {
    display: inline-block;
}
